body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1626px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1626px;
  height:955px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1626px;
  height:955px;
  display:flex;
}
#u6977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  display:flex;
}
#u6978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  display:flex;
}
#u6979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6980 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:1370px;
  height:64px;
  display:flex;
}
#u6980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u6981 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
  display:flex;
}
#u6981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u6982 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:89px;
  width:1324px;
  height:842px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u6982 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u6982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6983 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:90px;
  width:32px;
  height:32px;
}
#u6983_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6983_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6984 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:899px;
  width:32px;
  height:32px;
}
#u6984_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6984_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6985 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:899px;
  width:32px;
  height:32px;
}
#u6985_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6985_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6986 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:90px;
  width:32px;
  height:32px;
}
#u6986_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6986_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u6987 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:20px;
  width:59px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u6987 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6987_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u6988 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:21px;
  width:72px;
  height:24px;
  display:flex;
}
#u6988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:48px;
}
#u6989 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:8px;
  width:550px;
  height:48px;
  display:flex;
}
#u6989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6990_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6990 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:18px;
  width:105px;
  height:22px;
  display:flex;
}
#u6990 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6990_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6990.disabled {
}
.u6990_input_option {
}
#u6991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u6991 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:119px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u6991 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6991_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6992_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6992 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:119px;
  width:300px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6992_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6992.disabled {
}
#u6993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6993 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:186px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u6993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
