body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1512px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1512px;
  height:838px;
}
#u8373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1512px;
  height:838px;
  display:flex;
}
#u8373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1512px;
  height:727px;
}
#u8374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:838px;
  width:1512px;
  height:727px;
  display:flex;
}
#u8374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
