body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-51px;
  width:1170px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:1228px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:57px;
  width:570px;
  height:1228px;
  display:flex;
}
#u1388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:1242px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:43px;
  width:584px;
  height:1242px;
  display:flex;
}
#u1389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
