body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-61px;
  width:1322px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:728px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:133px;
  width:442px;
  height:728px;
  display:flex;
}
#u2204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:601px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:133px;
  width:447px;
  height:601px;
  display:flex;
}
#u2205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:582px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:133px;
  width:300px;
  height:582px;
  display:flex;
}
#u2206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
