body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1187px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:559px;
}
#u7875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:1008px;
  height:559px;
  display:flex;
}
#u7875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:404px;
}
#u7876 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:596px;
  width:873px;
  height:404px;
  display:flex;
}
#u7876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:570px;
}
#u7877 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:691px;
  width:276px;
  height:570px;
  display:flex;
}
#u7877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:559px;
}
#u7878 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1386px;
  width:1008px;
  height:559px;
  display:flex;
}
#u7878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
