body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1187px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:559px;
}
#u7855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:1008px;
  height:559px;
  display:flex;
}
#u7855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:404px;
}
#u7856 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:596px;
  width:873px;
  height:404px;
  display:flex;
}
#u7856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:570px;
}
#u7857 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:691px;
  width:276px;
  height:570px;
  display:flex;
}
#u7857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:559px;
}
#u7858 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1386px;
  width:1008px;
  height:559px;
  display:flex;
}
#u7858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
