body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1187px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:559px;
}
#u8429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:1008px;
  height:559px;
  display:flex;
}
#u8429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:404px;
}
#u8430 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:596px;
  width:873px;
  height:404px;
  display:flex;
}
#u8430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:570px;
}
#u8431 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:691px;
  width:276px;
  height:570px;
  display:flex;
}
#u8431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:559px;
}
#u8432 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1386px;
  width:1008px;
  height:559px;
  display:flex;
}
#u8432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
