body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1187px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:559px;
}
#u7755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:1008px;
  height:559px;
  display:flex;
}
#u7755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:404px;
}
#u7756 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:596px;
  width:873px;
  height:404px;
  display:flex;
}
#u7756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:570px;
}
#u7757 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:691px;
  width:276px;
  height:570px;
  display:flex;
}
#u7757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:559px;
}
#u7758 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:1386px;
  width:1008px;
  height:559px;
  display:flex;
}
#u7758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
