body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1008px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:482px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:482px;
  display:flex;
}
#u2280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:355px;
  width:278px;
  height:31px;
  display:flex;
}
#u2281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:314px;
  width:262px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
